# Part 1 - Segmenting and Clustering Assignment

In [6]:
#IMPORT BeautifulSoup library
from bs4 import BeautifulSoup
import requests

In [7]:
source  = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [9]:
soup = BeautifulSoup(source,'lxml')

In [10]:
stat = soup.find('table', class_ ="wikitable sortable")
len(stat)
tr1 = stat.find_all('tr')

In [11]:
final = []
for row in tr1:
    cols=row.find_all('td')
    cols=[x.text.strip() for x in cols]
    #print(cols + ",")
    final = final + cols

Creating a DF from the list

In [12]:
s = [final[i:i+3] for i in range(0,len(final),3)]

In [13]:
import pandas as pd
d1 = pd.DataFrame()
d1['Postal Code'] = s
d1.head()

                                         Postal Code
0                  [M1A, Not assigned, Not assigned]
1                  [M2A, Not assigned, Not assigned]
2                       [M3A, North York, Parkwoods]
3                [M4A, North York, Victoria Village]
4  [M5A, Downtown Toronto, Regent Park, Harbourfr...

In [14]:
k = 0
for i in range(0,289):
        for j in range(0,1):
 #          print(j)
 #          print(final[k] + "," + final[k+1] + "," + final[k+2])
            d1['Postal Code'][i] = final[k] + "," + final[k+1] + "," + final[k+2]
            k = k + 3
            
         
d1.tail()

IndexError: list index out of range

In [15]:
d1.head()

                                      Postal Code
0                   M1A,Not assigned,Not assigned
1                   M2A,Not assigned,Not assigned
2                        M3A,North York,Parkwoods
3                 M4A,North York,Victoria Village
4  M5A,Downtown Toronto,Regent Park, Harbourfront

In [16]:
new = d1["Postal Code"].str.split(",", n = 2, expand = True) 
d1["a"]= new[0] 
d1["b"]= new[1] 
d1["c"]= new[2]
d1.head()

                                      Postal Code    a                 b                          c
0                   M1A,Not assigned,Not assigned  M1A      Not assigned               Not assigned
1                   M2A,Not assigned,Not assigned  M2A      Not assigned               Not assigned
2                        M3A,North York,Parkwoods  M3A        North York                  Parkwoods
3                 M4A,North York,Victoria Village  M4A        North York           Victoria Village
4  M5A,Downtown Toronto,Regent Park, Harbourfront  M5A  Downtown Toronto  Regent Park, Harbourfront

In [17]:
d1 = d1.drop(['Postal Code'],axis=1)

In [18]:
d1.columns = ["Postal Code","Borough","Neighbourhood"]

In [20]:
d1.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [21]:
d1 = d1[d1['Borough'] != 'Not assigned']
  #      d1 = d1

In [22]:
d1.head(10)

   Postal Code           Borough                                Neighbourhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills
12         M4B         East York              Parkview Hill, Woodbine Gardens
13         M5B  Downtown Toronto                     Garden District, Ryerson

Assigning all unassigned values with same name as in BOROUGH

In [23]:
cnt = 0 
for i in range(0,212):
    j = 2
    if d1.iloc[i][j] == 'Not assigned':
        d1.iloc[i][j] = d1.iloc[i][j-1]
        j = j + 1

IndexError: single positional indexer is out-of-bounds

In [24]:
d1 = d1.set_index('Postal Code')

In [25]:
#gg = d1.groupby(d1['Postal Code'])

In [26]:
d1.head(10)

                      Borough                                Neighbourhood
Postal Code
M3A                North York                                    Parkwoods
M4A                North York                             Victoria Village
M5A          Downtown Toronto                    Regent Park, Harbourfront
M6A                North York             Lawrence Manor, Lawrence Heights
M7A          Downtown Toronto  Queen's Park, Ontario Provincial Government
M9A                 Etobicoke      Islington Avenue, Humber Valley Village
M1B               Scarborough                               Malvern, Rouge
M3B                North York                                    Don Mills
M4B                 East York              Parkview Hill, Woodbine Gardens
M5B          Downtown Toronto                     Garden District, Ryerson

In [27]:
d1 = d1.reset_index()

In [28]:
d1.head(10)

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
5         M9A         Etobicoke      Islington Avenue, Humber Valley Village
6         M1B       Scarborough                               Malvern, Rouge
7         M3B        North York                                    Don Mills
8         M4B         East York              Parkview Hill, Woodbine Gardens
9         M5B  Downtown Toronto                     Garden District, Ryerson

In [29]:
import pandas as pd
d2 = pd.DataFrame()
d2 = d1
d2.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [30]:
d1['Postal Code'].value_counts()
d3 = d2.sort_values('Postal Code',ascending=True)
d3.head(10)

   Postal Code      Borough                                    Neighbourhood
6          M1B  Scarborough                                   Malvern, Rouge
12         M1C  Scarborough           Rouge Hill, Port Union, Highland Creek
18         M1E  Scarborough                Guildwood, Morningside, West Hill
22         M1G  Scarborough                                           Woburn
26         M1H  Scarborough                                        Cedarbrae
32         M1J  Scarborough                              Scarborough Village
38         M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park
44         M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
51         M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West
58         M1N  Scarborough                      Birch Cliff, Cliffside West

In [32]:
for i in range(0,4):
    if d1.iloc[i][0] == d1.iloc[i+1][0]:
        print(d1.iloc[i][0])
        print(d1.iloc[i+1][0])
        print('yes')

In [33]:
d3['Neighbourhood'] = d3['Neighbourhood'].astype(str) + ","

In [34]:
d3.head()

   Postal Code      Borough                            Neighbourhood
6          M1B  Scarborough                          Malvern, Rouge,
12         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek,
18         M1E  Scarborough       Guildwood, Morningside, West Hill,
22         M1G  Scarborough                                  Woburn,
26         M1H  Scarborough                               Cedarbrae,

In [35]:
d3 = d3.groupby(['Postal Code','Borough']).sum()

In [36]:
d3.head()

                                                   Neighbourhood
Postal Code Borough
M1B         Scarborough                          Malvern, Rouge,
M1C         Scarborough  Rouge Hill, Port Union, Highland Creek,
M1E         Scarborough       Guildwood, Morningside, West Hill,
M1G         Scarborough                                  Woburn,
M1H         Scarborough                               Cedarbrae,

In [37]:
d3 = d3.reset_index()

In [38]:
d3['Neighbourhood'] = d3['Neighbourhood'].map(lambda x: x.rstrip(','))

#### Final Dataframe

In [39]:
d3.head(20)

   Postal Code      Borough                                      Neighbourhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
5          M1J  Scarborough                                Scarborough Village
6          M1K  Scarborough        Kennedy Park, Ionview, East Birchmount Park
7          M1L  Scarborough                    Golden Mile, Clairlea, Oakridge
8          M1M  Scarborough    Cliffside, Cliffcrest, Scarborough Village West
9          M1N  Scarborough                        Birch Cliff, Cliffside West
10         M1P  Scarborough  Dorset Park, Wexford Heights, Scarborough Town...
11         M1R  Scarborough                                  Wexford, Maryvale
12         M1S  Scarborough                                          Agincourt
13         M1T  Scarborough            Clarks Corners, Tam O'Shanter, Sullivan
14         M1V  Scarborough  Milliken, Agincourt North, Steeles East, L'Amo...
15         M1W  Scarborough                      Steeles West, L'Amoreaux West
16         M1X  Scarborough                                        Upper Rouge
17         M2H   North York                                  Hillcrest Village
18         M2J   North York                       Fairview, Henry Farm, Oriole
19         M2K   North York                                    Bayview Village

In [40]:
d3.shape

(103, 3)

## Part 2: Segmenting and Clustering assignment (Including Lat and Long)

In [42]:
cord = pd.read_csv("https://cocl.us/Geospatial_data")

In [43]:
cord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [44]:
cord.shape

(103, 3)

In [45]:
cord = cord.sort_values('Postal Code',ascending=True)
cord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [46]:
d3

    Postal Code           Borough                                      Neighbourhood
0           M1B       Scarborough                                     Malvern, Rouge
1           M1C       Scarborough             Rouge Hill, Port Union, Highland Creek
2           M1E       Scarborough                  Guildwood, Morningside, West Hill
3           M1G       Scarborough                                             Woburn
4           M1H       Scarborough                                          Cedarbrae
5           M1J       Scarborough                                Scarborough Village
6           M1K       Scarborough        Kennedy Park, Ionview, East Birchmount Park
7           M1L       Scarborough                    Golden Mile, Clairlea, Oakridge
8           M1M       Scarborough    Cliffside, Cliffcrest, Scarborough Village West
9           M1N       Scarborough                        Birch Cliff, Cliffside West
10          M1P       Scarborough  Dorset Park, Wexford Heights, Scarborough Town...
11          M1R       Scarborough                                  Wexford, Maryvale
12          M1S       Scarborough                                          Agincourt
13          M1T       Scarborough            Clarks Corners, Tam O'Shanter, Sullivan
14          M1V       Scarborough  Milliken, Agincourt North, Steeles East, L'Amo...
15          M1W       Scarborough                      Steeles West, L'Amoreaux West
16          M1X       Scarborough                                        Upper Rouge
17          M2H        North York                                  Hillcrest Village
18          M2J        North York                       Fairview, Henry Farm, Oriole
19          M2K        North York                                    Bayview Village
20          M2L        North York                           York Mills, Silver Hills
21          M2M        North York                            Willowdale, Newtonbrook
22          M2N        North York                        Willowdale, Willowdale East
23          M2P        North York                                    York Mills West
24          M2R        North York                        Willowdale, Willowdale West
25          M3A        North York                                          Parkwoods
26          M3B        North York                                          Don Mills
27          M3C        North York                                          Don Mills
28          M3H        North York    Bathurst Manor, Wilson Heights, Downsview North
29          M3J        North York                    Northwood Park, York University
30          M3K        North York                                          Downsview
31          M3L        North York                                          Downsview
32          M3M        North York                                          Downsview
33          M3N        North York                                          Downsview
34          M4A        North York                                   Victoria Village
35          M4B         East York                    Parkview Hill, Woodbine Gardens
36          M4C         East York                                   Woodbine Heights
37          M4E      East Toronto                                        The Beaches
38          M4G         East York                                            Leaside
39          M4H         East York                                   Thorncliffe Park
40          M4J         East York      East Toronto, Broadview North (Old East York)
41          M4K      East Toronto                       The Danforth West, Riverdale
42          M4L      East Toronto                     India Bazaar, The Beaches West
43          M4M      East Toronto                                    Studio District
44          M4N   Central Toronto                                      Lawrence Park
45          M4P   Central Toronto                                   Davisville North
46          M4R   Central Toronto                 North Toronto West,  Lawrence Park
47          M4S   Central Toronto                                         Davisville
48          M4T   Central Toronto                        Moore Park, Summerhill East
49          M4V   Central Toronto  Summerhill West, Rathnelly, South Hill, Forest...
50          M4W  Downtown Toronto                                           Rosedale
51          M4X  Downtown Toronto                        St. James Town, Cabbagetown
52          M4Y  Downtown Toronto                               Church and Wellesley
53          M5A  Downtown Toronto                          Regent Park, Harbourfront
54          M5B  Downtown Toronto                           Garden District, Ryerson
55          M5C  Downtown Toronto                                     St. James Town
56          M5E  Downtown Toronto                                        Berczy Park
57          M5G  Downtown Toronto                                 Central Bay Street
58          M5H  Downtown Toronto                           Richmond, Adelaide, King
59          M5J  Downtown Toronto  Harbourfront East, Union Station, Toronto Islands
60          M5K  Downtown Toronto           Toronto Dominion Centre, Design Exchange
61          M5L  Downtown Toronto                     Commerce Court, Victoria Hotel
62          M5M        North York                  Bedford Park, Lawrence Manor East
63          M5N   Central Toronto                                           Roselawn
64          M5P   Central Toronto    Forest Hill North & West, Forest Hill Road Park
65          M5R   Central Toronto                The Annex, North Midtown, Yorkville
66          M5S  Downtown Toronto                     University of Toronto, Harbord
67          M5T  Downtown Toronto          Kensington Market, Chinatown, Grange Park
68          M5V  Downtown Toronto  CN Tower, King and Spadina, Railway Lands, Har...
69          M5W  Downtown Toronto                                     Stn A PO Boxes
70          M5X  Downtown Toronto             First Canadian Place, Underground city
71          M6A        North York                   Lawrence Manor, Lawrence Heights
72          M6B        North York                                          Glencairn
73          M6C              York                                 Humewood-Cedarvale
74          M6E              York                                Caledonia-Fairbanks
75          M6G  Downtown Toronto                                           Christie
76          M6H      West Toronto                       Dufferin, Dovercourt Village
77          M6J      West Toronto                           Little Portugal, Trinity
78          M6K      West Toronto       Brockton, Parkdale Village, Exhibition Place
79          M6L        North York           North Park, Maple Leaf Park, Upwood Park
80          M6M              York   Del Ray, Mount Dennis, Keelsdale and Silverthorn
81          M6N              York                      Runnymede, The Junction North
82          M6P      West Toronto                      High Park, The Junction South
83          M6R      West Toronto                             Parkdale, Roncesvalles
84          M6S      West Toronto                                 Runnymede, Swansea
85          M7A  Downtown Toronto        Queen's Park, Ontario Provincial Government
86          M7R       Mississauga              Canada Post Gateway Processing Centre
87          M7Y      East Toronto  Business reply mail Processing Centre, South C...
88          M8V         Etobicoke       New Toronto, Mimico South, Humber Bay Shores
89          M8W         Etobicoke                             Alderwood, Long Branch
90          M8X         Etobicoke      The Kingsway, Montgomery Road, Old Mill North
91          M8Y         Etobicoke  Old Mill South, King's Mill Park, Sunnylea, Hu...
92          M8Z         Etobicoke  Mimico NW, The Queensway West, South of Bloor,...
93          M9A         Etobicoke            Islington Avenue, Humber Valley Village
94          M9B         Etobicoke  West Deane Park, Princess Gardens, Martin Grov...
95          M9C         Etobicoke  Eringate, Bloordale Gardens, Old Burnhamthorpe...
96          M9L        North York                                      Humber Summit
97          M9M        North York                                   Humberlea, Emery
98          M9N              York                                             Weston
99          M9P         Etobicoke                                          Westmount
100         M9R         Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101         M9V         Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102         M9W         Etobicoke                Northwest, West Humber - Clairville

### Final DF with Lat and Long's

In [47]:
d4 = pd.concat([d3, cord], axis=1)

In [48]:
d4.head()

  Postal Code      Borough                           Neighbourhood Postal Code   Latitude  Longitude
0         M1B  Scarborough                          Malvern, Rouge         M1B  43.806686 -79.194353
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek         M1C  43.784535 -79.160497
2         M1E  Scarborough       Guildwood, Morningside, West Hill         M1E  43.763573 -79.188711
3         M1G  Scarborough                                  Woburn         M1G  43.770992 -79.216917
4         M1H  Scarborough                               Cedarbrae         M1H  43.773136 -79.239476